.officer {
}

.picture {
    width:auto;
    margin: auto;
}

.picture img {
    width: 250px;
    height: auto;
}

.info {
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.info ul {
    list-style-type: none;
}

.info li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.info li:first-child {
    padding-top: 0px;
}

.info li:last-child {
    padding-bottom: 0px;
}

.desc {
    text-align: justify;
}