.App {
  height: 100%;
}

body, html {
  /* background-color: #D22730; */
  height: 100%;
}

#root {
  height: 100%;
  /* background-color: #D22730; */
}

.bg-poland {
  background-color: #D22730;
}

.exp {
  min-height: 100vh;
}

.instagram {
  max-height: 90vh;
}

.books {
  max-width: 400px;
}